<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie!</title>
</head>
<body>
<a href="/">Home</a>
<br>
<br>
<form action="addMovie" method="post">
    <br>
    <label for="movieTitle">Title <input type="text" name="movie_title" id="movieTitle"></label>
    <br>
    <label for="movieGenre">Genre <input type="text" name="genre" id="movieGenre"></label>
    <br>
    <label for="movieRating">Rating <input type="text" name="rating" id="movieRating"></label>
    <button type="submit">Submit</button>

</form>
</body>
</html>